<div class = "jumbotron">
<br>
<br>
<br>
  <% if logged_in?%> 
    <h1>Bienvenue <%= User.find_by(id:session[:user_id]).first_name %> !</h1>
  <%else%>
    <h1>Bienvenue sur The Gossip Project</h1>
  <%end%>
		<h4>Ce site est le tien pour publier tous les potions des potes.</h4>
			<p class = "center">Convaincu? On te lance le défi et fais ton premier post <a> <%= link_to "clique ici !", new_gossip_path %> </a> </p>
		<br>
</div>

		</br>

 <% if flash[:success] %>
      <div class="alert alert-success" role="alert"><%= flash[:success] %></div>
 <% elsif flash[:danger] %>
      <div class="alert alert-danger" role="alert"><%= flash[:danger] %></div>
   <% end %>
   <br>
          <h4 class="h1-responsive font-weight-bold my-5">Nos potins en stock: </h3>

<section>
<div class="card-deck">
<%Gossip.all.each do |gossip|%>
<div class="col-sm-4 mb-3">
<div class="card">
  <div class="card-header">
    Gossip #<%=gossip.id%>
  </div>
  <div class="card-body align-center">
    <blockquote class="blockquote mb-0">
      <p><%=gossip.title%></p>
      <footer class="blockquote-footer">
      <div class="row justify-content-between align-self-center mx-3">
        <p><%=User.find(gossip.user_id).first_name%> <%=User.find(gossip.user_id).last_name%></p>
        <a class="btn btn-primary" <%= link_to "ça m'interesse", gossip_path(gossip.id)%></a>
      </div>
      </footer>
    </blockquote>
  </div>
</div>
</div>
<%end%>
</div>
</section>